html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: rgba(0, 0, 0, 0);
    /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
    padding: 32px;
    border-radius: 10px;
    border: solid black 1px;
    /* box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    /* background: #2e3d49; */
    font-size: 0;
    /* color: #ffffff; */
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: rgba(0, 0, 0, 0);
    /* background: #02b3e4; */
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: rgba(235, 175, 35, 0.9);
    /* background: #02ccba; */
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.restart {
    float: right;

    cursor: pointer;
}

.hidden {
  display: none;
}

#timer {
  float: left;
}

#start {
  border: 1px solid black;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin-top: 30vh;
  border-radius: 25px;
  background: rgba(235, 175, 35, 0.9);
}
.your-stars {
  margin: 1em;
}
.your-stars .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.your-stars .stars li {
  list-style: none;
  display: inline-block;
}

.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 150%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.prompt {
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0 4em;
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  border-radius: 0 0 25px 25px;
  border: 1px solid black;
  text-align: center;
}

.prompt .replay {

}

.play-again {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 40px 10px 40px;
  margin: 1em;
  background: rgba(235, 175, 35, 0.9);
}
