html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#start {
  border: 1px solid black;
  text-align: center;
  min-height: 48px;
  padding: 0px 24px;
  margin-top: 25vh;
  border-radius: 25px;
  background: rgba(235, 175, 35, 0.9);
  transition: all 300ms ease-in-out;
}

#start:hover {
  padding: 0px 48px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 680px;
  min-height: 680px;
  background: rgba(0, 0, 0, 0);
  /* background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%); */
  padding: 2em;
  border-radius: 10px;
  border: solid black 1px;
  /* box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  /* background: #2e3d49; */
  font-size: 0;
  /* color: #ffffff; */
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 100ms ease-in-out;
}

.deck .card:hover {
  box-shadow: none;
}

.deck .card.open {
  background: rgba(0, 0, 0, 0);
  /* background: #02b3e4; */
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
  transition: all 200ms ease-in-out;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.deck .card.match {
  cursor: default;
  background: rgba(235, 175, 35, 0.9);
  transition: all 200ms ease-in-out;
  /* background: #02ccba; */
  font-size: 33px;
  box-shadow: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: center;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.restart {
  float: right;
  cursor: pointer;
}

#timer {
  float: left;
}

.your-stars {
  margin: 1em;
}

.your-stars .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.your-stars .stars li {
  list-style: none;
  display: inline-block;
}

/*
Styles for modal prompt
*/

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt {
  z-index: 1000;
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  padding: 4em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-again {
  border: 1px solid black;
  border-radius: 25px;
  min-height: 48px;
  padding: 1em;
  background: rgba(235, 175, 35, 0.9);
  transition: all 300ms ease-in-out;
}

.play-again:hover {
  padding: 0px 48px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.hidden {
  display: none;
}
